@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url("components/button.css");
@import url("components/avatar.css");
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/container.css');

body {
	background: rgb(200, 200, 200);
	color: white;
	text-align: center;
}

h1 {
	font-family: initial;
	color: ivory;
	text-align: center;
}

h2 {
	color: whitesmoke;
	text-align: center;
}

.img-circle {
	border-radius: 100%;
}
.card-white{
	background: darkred;
	padding: 40px;
	margin: 40px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px;
}

a {
	text-decoration: none;
}
